*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas1 {
    height: 500px;
    width: 500px;
    border: solid 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    max-width: 100%;
}
#player{
    display: none;
}
#layer-1,#layer-2,#layer-3,#layer-4,#layer-5{
    display :none;
}